
<div class="filter-container">
  <mat-form-field>
    <mat-select placeholder="Select your city" [(value)]="selectedCity" (selectionChange)="onSelectCity($event.value)">
      <mat-option *ngFor="let city of CITIES" [value]="city.id">{{city.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Search Something Here </mat-label>
    <input matInput (keyup)="onFilterData($event.target.value)" placeholder="Search here..." #filterfield>    
  </mat-form-field>
</div>
  <div class="mat-elevation-z8">
    <mat-progress-bar mode="query" *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!--IFSC Code column-->
      <ng-container matColumnDef="ifscCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IFSC Code</th>
        <td mat-cell *matCellDef="let element">{{element.ifsc}}</td>
      </ng-container>

      <!--Branch Name column-->
      <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
          <td mat-cell *matCellDef="let element">{{element.branch}}</td>
      </ng-container>

      <!--Address column-->
      <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element">{{element.address}}</td>
      </ng-container>

      <!--City column-->
      <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let element">{{element.city}}</td>
      </ng-container>

      <!--District column-->
      <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
          <td mat-cell *matCellDef="let element">{{element.district}}</td>
      </ng-container>

      <!--State column-->
      <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let element">{{element.state}}</td>
      </ng-container>

      <!--Bank name column-->
      <ng-container matColumnDef="bankName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Name</th>
          <td mat-cell *matCellDef="let element">{{element.bank_name}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons></mat-paginator>
</div>