table.mat-table{
    width: 100%;
}
.mat-cell {
    padding: 0.8em 1em;
}
th.mat-header-cell {
    padding-left: 1em;
    padding-right: 1em;
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.filter-container > * {
    width: 50%;
    padding-right: 1.25em;
}